<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-favorite [is-favorite]="post.isFavorite" (change)="onFavouriteChange($event)"></app-favorite> -->
<!-- <contact-form></contact-form>

<br>
<bootstrap-panel>
    <ng-container class="heading">
        Heading
    </ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some Content...</p>
    </div>
</bootstrap-panel>
<like
    [likesCount] = "tweet.likesCount"
    [isActive] = "tweet.isLiked"
></like>

<div *ngIf="courses.length > 0; then coursesList else noCourses"> 
    
</div>
<ng-template #coursesList>
    List of Courses
</ng-template>
<ng-template #noCourses>
    No courses yet
</ng-template>
<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courses; index as i">
        {{ i }} -- {{ course.name }}
        <button (click)="onRemove(course)">Remove</button>
    </li>
</ul>

<input type="text" [appInputFormat] = "'uppercase'">
<br>
<zippy title ="Shipping Details-1">
    Shipping Details Content
</zippy>
<zippy title ="Shipping Details-2">
    Shipping Details Content
</zippy> -->

<app-posts></app-posts>   








